@model PersonelProje.Data.Ulke
@{
    ViewData["Title"] = "Guncel";
}
<div class="row">
    <div class="col-md-5">
        <h1>Ülke Güncelleme</h1>
        <hr />
        <form method="post"> @*method post olduğunda submit dediği an isimleri okur.*@
            <div>
                <label>Id</label>
                <input class="form-control" readonly type="text" value="@Model.Id" name="Id"/>
            </div>
            <div>
                <label>Ad</label>
                <input class="form-control" type="text" value="@Model.UlkeAd" name="UlkeAd"/>
            </div>
            <input class="btn btn-success" type="submit" value="Güncelle"/>
        </form>
    </div>
</div>


