@model KatmanliMimari.UI.Models.PersonnalModel


<h4>@Model.Head</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input readonly type="hidden" asp-for="Personnal.Id" />
            <div class="form-group">
                    <label asp-for="Personnal.Name" class="control-label"></label>
                    <input asp-for="Personnal.Name" class="form-control" />
                    <span asp-validation-for="Personnal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.BtnText" class="@Model.BtnCls" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action ="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
