@model List<Personel>
@{
    ViewData["Title"] = "PersonelListe";
}

<h3>Personel Listesi</h3>
@foreach (var item in Model)
{
<p>@item.PersonelId</p>
<p>@item.PersonelAd</p>
<p>@item.PersonelSoyad</p>
}

