<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/Home/Index">Ana Sayfa</a>
    <br/>
    <a href="/Home/Contact">İletişim</a>
    <br/>
    <a href="/Home/About">Hakkımızda</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
